html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 64px;
}

.map-body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "sidebar map";
    height: calc(100vh - 64px);
}

.map {
    grid-area: map;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.listing-search {
    /* grid-area: listing-search; */
    z-index: 2;
    /* height: 60px; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 16px;
    border-bottom: 1px solid #e5ecf4;
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1); /* horizontal-offset vertical-offset blur spread color */
}

.listing-search input {
    height: 100%;
    border: none;
    outline: none;
}

.listing-search-input {
    /* justify-self: stretch; */
    width: 100%;
    border: 1px solid #e5ecf4;
    display: flex;
    flex-direction: row;
}

.listing-search-input input {
    flex-grow: 1;
}

.listing-search-input .icon {
    /* margin-right: ; */
}

.listing-search-input:focus-within {
    outline: solid #8a4fff;
    outline-width: 1px;
    border: 1px solid white;
    transition: outline;
}

.listing-search-input:focus-within .purple-icon{
    color: #8a4fff;
}

.listing {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    /* Box Shadow */
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1); /* horizontal-offset vertical-offset blur spread color */

    /* Optional: Add transition for smooth effect */
    /* transition: box-shadow 0.3s ease; */
    z-index: 1;
}

.listing-item {
    border: 1px solid #e5ecf4;
    /* border-radius: 8px; */
    padding: 8px 24px 8px 8px;
    background: white;
    display: grid;
    /* grid-template-areas: "image street price"
                         "image rating rating"
                         "image details details"; */
    grid-template-areas: "image info";
    grid-template-columns: 128px auto;
    /* grid-template-columns: 1fr 2fr 1fr; */
    min-height: 144px;
    max-height: 180px;
    column-gap: 12px;
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1); /* horizontal-offset vertical-offset blur spread color */
    transition-property: border, color; /* Specify properties to transition */
    transition-duration: 0.3s; /* Duration of the transition */
    transition-timing-function: ease-in-out; /* Timing function for the transition */
}

.listing-item:hover {
    cursor: pointer;
    border: 1px solid #c3bef7;
    transition-property: border; /* Specify properties to transition */
    transition-duration: 0.1s; /* Duration of the transition */
    transition-timing-function: ease-in-out; /* Timing function for the transition */
}

.listing-item:hover .street-address {
    color:#8a4fff;
    transition-property: color; /* Specify properties to transition */
    transition-duration: 0.1s; /* Duration of the transition */
    transition-timing-function: ease-in-out; /* Timing function for the transition */
    text-decoration: underline;
}

.parking-spot-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.primary-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "street price";
}

.parking-image {
    grid-area: image;
    align-self: center;
    object-fit: cover;
    height: 128px;
    width: 128px;
    margin-right: 16px;
    /* border-radius: 8px; */
}

.parking-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: rating;
}

.street-address {
    grid-area: street;
    margin-bottom: 0;
    transition-property: border, color; /* Specify properties to transition */
    transition-duration: 0.3s; /* Duration of the transition */
    transition-timing-function: ease-in-out; /* Timing function for the transition */
    /* font-size: 1.6rem; */
}

.price {
    grid-area: price;
    color: #2eb715;
}

.parking-status {
    grid-area: details;
    text-overflow: ellipsis;
}

.purple-icon {
    color: #c3bef7;
}

.remaining-space {
    align-self: stretch;
}

/* Google autocomplete search bar styling */
.pac-container {
    border: 1px solid #8a4fff;
    border-top: none;
    border-radius: 0 0 8px 8px;
    width: 530px;
    padding: 8px;
    transform: translateY(10px);
}

.pac-icon {
    color: #c3bef7;
}

.pac-item:hover .pac-icon {
    color: #8a4fff;
}